<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop Web Service</title>
</head>
<body>
    <h1>Welcome to the shop</h1>
    <p>Try searching up for a certain product, or check the products list</p>
    <a href="/products">Products list</a>
    <p>When you're ready, you can log in or register to place an order</p>
    <a href="/register">Register</a>
    <a href="/login">Log in</a>
</body>
</html>