<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Log in</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-image: linear-gradient(to bottom, #230e6d, #4e4a84);
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        margin: 0;
        padding: 20px;
      }

      h1 {
        color: #333;
      }

      p {
        color: #3d266c;
      }

      a {
        text-decoration: none;
        color: #2f1060;
        padding: 10px 15px;
        border: 1px solid #3b1a78;
        border-radius: 5px;
        transition:
          background-color 0.3s,
          color 0.3s;
        display: inline-block;
        margin: 5px 0;
      }

      a:hover {
        background-color: #5c4272;
        color: white;
      }

      .container {
        max-width: 600px;
        margin: auto;
        background: rgb(224, 215, 245);
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }

      .privileged-section {
        margin-top: 40px;
        padding-top: 20px;
        border-top: 1px solid #909090;
      }

      .privileged-section h1 {
        color: #5d1fda;
      }

      .link-group {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
    </style>
  </head>
  <body>
    <h1>Log in</h1>

    <!-- Formularz logowania -->
    <form action="/users/login" method="post">
      <label for="username">Username</label>
      <input type="username" id="username" name="username" required />
      <br /><br />

      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required />
      <br /><br />

      <button type="submit">Submit</button>
    </form>
    <br /><br />
    <a href="/">Back to the index page</a>
  </body>
</html>
